.entry-title {
    font-family: 'Droid Sans';
}
.short-desc, .content {
    font-size: 17px;
    font-family: 'Droid Serif';
}
.content {
    padding-top: 15px;
    display: block;
    font-size: 18px;
}
.col-md-12 {
    overflow: hidden;
}
.col-md-12 img {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}